body {
    margin: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    padding-top: 10px;
    background-color: #f4dcf4;
}
h1 {
    color: #c92c34;
    font-size: 44px;
    text-align: center;
}
h2 {
    text-align: center;
    font-size: 34px;
}
h3{
    font-size: 24px;
}
input {
    margin-left: 20px;
    margin-bottom: 20px;
}
label {
    font-size: 24px;
}
.header {
    max-width: 800px;
    margin: auto;
    text-align: center;
}
.loginbox {
    margin-top: 70px;
    text-align: center;
    border: 2px solid #c92c34;
    border-radius: 12px;
}
.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #c92c34;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
img {
    border: red solid;
    border-radius: 50%;
}
