
body {
    margin: 0px;;
    background-color: #f4dcf4;
    padding-left: 10px;
    
   overflow:auto;
}

header{
    color: white;
    background-color: black;
    text-align: left;
}

h1 {
    color: #c92c34;
    font-size: 44px;
    text-align: center;
}
h2 {

    font-size: 34px;
}
h3{
    color: #c92c34;
    text-align: center;
    font-size: 24px;
}

label {
    font-size: 18px;
}
.header {
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.button {
    margin-top: 10px;
    margin-left: 5px;
    display: inline-block;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #c92c34;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    width: 100px;
}
.selectInfo{
    width: 200px;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.2); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: oldlace;
    margin: 15% auto; /* 15% from the top and centered */
    
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#myBtn {
    margin-bottom: 5px;
}
.select {
    width: 250px;
    
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    background-color: lightpink;
    margin-bottom: 20px;
}

input {
   width: 250px;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    background-color: lightpink;
    margin-bottom: 20px;
}

.container {
    padding-left: 5px;
    display: inline-block; 
    width:99%;
    height: 100%;

}
.section {
    padding-left: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid #c92c34;
    border-radius: 12px;
    height: auto;
    width: 400px;
}

.marsection {
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid #c92c34;
    border-radius: 12px;
    height: auto;
}

.sectionCalendar {
    padding-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 12px;
    height: auto;
}
